  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #161616;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #00C834;
    border-radius: 10px;
    border: 2px solid #161616;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #00C834 #161616;
  }
  
  @layer utilities {
  @keyframes pulse-glow {
    0%, 100% {
      box-shadow:
        0 0 10px #00C834,
        0 0 20px #00C834,
        0 0 30px #00C834,
        0 0 40px #00C834;
    }
    50% {
      box-shadow:
        0 0 20px #00C834,
        0 0 40px #00ff58,
        0 0 60px #00ff58,
        0 0 80px #00ff58;
    }
  }

  .animate-pulse-glow {
    animation: pulse-glow 1.5s ease-in-out infinite;
  }
}
    .text-brand-green {
      color: #00C834;
    }
     .hamburger span {
      transition: all 0.3s ease-in-out;
      transform-origin: center;
    }
    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
    
    html {
  scroll-behavior: auto !important;
}